/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 5, 2016, 2:37:29 AM
    Author     : Rafael
*/

html
{

}

body
{
    background-color: #009933;
    background-image: url('images/grass.gif');
    cursor:url('images/hammer.gif'), auto; 
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
    overflow: hidden;


    
}

/*.cursorUp
{
   cursor:url('images/hammer.gif'), auto; 
}

.cursorDown
{
   cursor:url('images/hammer_press.gif'), auto;  
}*/



#whackTable td
{
    width:31.7%;
    height:120px;

    
}



#whackDiv
{
    height:100%;
    width:100%;
    overflow: hidden;
    position:fixed;
}

#startButton
{
    transform: translate(-50%,-50%);
    position:absolute;
    left:50%;
    top:4%;
    width:100px;
    height:50px;
    cursor:url('images/hammer.gif'), auto;
    background-color: #0077b3;
    font-weight: bold;
}
